<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
</head>
<body>
    <header>
        <div>
            <span>{{ username }}</span> <span>{{ uclass }}</span>
        </div>
    </header>
    <h1>Welcome to my page!</h1>
    <p>this is a prototype of application.</p>
    <section>
        <form action="/insert" method="post">
            <fieldset>
                <legend>Create new user:</legend>
                <label for="user"></label><input type="text" name="user" id="user">
                <label for="uclass"></label><input type="password" name="uclass" id="uclass">
                <label for="pass"></label><input type="text" name="pass" id="password">
                <input type="submit">
            </fieldset>
        </form>
    </section>
</body>
</html>