<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>LOGIN</title>
</head>

<body>
    <form action="/home" method="post" name="frm_login">
        <fieldset>
            <legend>User Information</legend>
            <p><label for="name">User: </label><input type="text" name="name" id="name"></p>
            <p><label for="class">Class: </label><input type="text" name="class" id="class"></p>
            <p><label for="password">Password: </label><input type="password" name="password" id="password"></p>
            <input type="submit" value="Entrar">
        </fieldset>
    </form>

</body>

</html>